
html{
    font-family: 'Roboto', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Zen Old Mincho', serif;
}

  @media (max-width: 75em) {
      .top{
          font-size:30%
      }
    }
    @media (max-width: 75em) {
        html {
          font-size: 60%;
        }
      }
    
    
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}


.top {
    background-color: rgb(108, 114, 106);
    height: 55px;
    width: 100%;
    position: fixed;
   top: 0px;
   border:rgb(108, 114, 106);
   border-radius: 5px;
  
    
}


#navbar{
    margin-top: 0px;
}
#navbar ul{
    margin-left: 600px;
    margin-top: 3px;

   
  
}
#navbar ul li{
    display: inline-block;
    z-index: 1;
    list-style: none;
    margin-top: 15px;

   

}

#navbar ul li a{
    text-transform: uppercase;
    margin: 3px auto;
    display:block;
    width: 213px;
    padding: 53px auto;
    text-decoration: none;
    color: white;
   
}


#navbar ul li a:hover{
    color:rgb(93, 219, 35);
}

#navbar ul li a:active{
    color:red;
}



.container1{
    background-color:black;
    color: white;
    height: 600px;
    top: 0px;
    text-align: center;

}

@media (max-width: 75em) {
    .container1{
        font-size:30%
    }
  }


.welcome-section p{
   
    padding-top: 10px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 26px;
    
}

.bold{
    font-size: 333px;
}

.welcome-section h1{

    margin-top: 49px;
    padding-top: 90px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 43px;
    font-style:bold;
    font-weight: 7900;
    text-align: center;
    

}

#mid2{
    background-color:rgb(216, 3, 216);
    font-family:Arial, Helvetica, sans-serif;
    height: 690px;
}
@media (max-width: 75em) {
    #mid2{
        font-size:30%
    }
  }

h2{
    margin-top: 0px;
    text-align:center;
    font-size: 30px;
    padding: 30px;
    padding-bottom: 20px;
    font-size: 33px;
    font-style:bold;
    font-weight: 7900;
    color: white;
}


.projects-section{
box-sizing: border-box;
size: 9px;
box-sizing: inherit;
height: 78px; 


}

@media (max-width: 75em) {
    .projects-section{
        font-size:30%
        height:10%;
        max-width: 20%;
    }
  }


img{
    height: 310px;
    width: 400px;
    float: left;
    margin: 13px;
    padding: 7px;
    margin-top: 60px;
}




#bottom{
    background-color: rgb(97, 96, 96);
    color: white;
}



contact,p{
text-align: center;
margin: 22px auto;
height: 33px;
width: 100%;

}


.contact-links {
   
   margin-left: 560px;
    
}
.contact-links a{
    color: white;
    margin-left: 3px;
}

.contact-links a:hover{
   opacity: 30%;

}
footer a p{
    margin-bottom: 9px;
    color: black;
   
}

footer a{
    color: white;
    text-decoration: none;
  
}

footer a:hover{
    color:rgb(93, 219, 35);
}

footer{
    background-color: rgb(54, 54, 54);
   
}
.fa {
  padding: 10px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}


  .fa-facebook {
    background: #3B5998;
    color: white;
    border:none;
    border-radius: 7px;
  }
  .fa:hover {
    opacity: 0.7;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  
  .fa-linkedin {
    background: #007bb5;
    color: rgb(138, 58, 58);
  }

  .fa-github{
      background: rgb(68, 68, 68);
  }

  .logo-1 {

    /*border: 2px solid yellowgreen;*/
    display: inline-block;
    position: absolute;
    padding-top: 0px;
    margin: 0px 0px;
    
}

.logo-1 img {
    width: 44px;
    height: 44px;
    padding-left: 0px;
    margin: 0px 0px;
    padding: 0px 0px;
    top: 0px;
    border:rgb(182, 176, 176) 3px solid;
    border-radius: 27px;
}

